.token-container {
	display: flex;
	align-items: center;
}
#token {
	width: 250px;
	height: 44px;
}
#token-reset {
	width: 44px;
	height: 44px;
	margin-left: 10px;
}
#groups-section select {
	width: 250px;
	height: 100px;
	background-image: none;
}