.set-password-form {
	width: 300px;
	font-size: 1rem;
	text-align: left;
}

.set-password-form h2 {
	text-align: center;
}

.set-password-form fieldset {
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
}

.set-password-form fieldset div {
	display: flex;
	flex-direction: column;
	position: relative;
}

.set-password-form fieldset label {
	padding: 4px 0;
	display: block;
}

.set-password-form p {
	font-size: var(--default-font-size);
}

.set-password-form input:not([type="checkbox"], [type="radio"], [type="submit"]) {
	margin: 0;
	padding: 0 12px;
	font-size: var(--default-font-size);
	background-color: var(--color-main-background);
	color: var(--color-main-text);
	border: 2px solid var(--color-border-dark);
	height: 36px !important;
	border-radius: var(--border-radius-large);
	text-overflow: ellipsis;
	cursor: pointer;
	width: 100%;
}

input:read-only,
input:disabled {
	color: var(--color-text-maxcontrast) !important;
}

input#show,
input#show + label {
	right: 0;
	bottom: 0;
	top: auto !important;
	border: none;
	background-color: transparent;
	margin: -4px !important;
	padding: 5px !important;
	width: 44px;
	height: 44px;
	box-sizing: border-box;
	opacity: 1;
}

#submit-wrapper {
	width: 100%;
	padding: 0 !important;
}

input[type="submit"] {
	color: var(--color-primary-element-text) !important;
	height: auto !important;
	width: 100% !important;
}